/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/
body{
    /* font-family: "Montserrat-Regular"; */
    font-family: sans-serif;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;   
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 800;
}

.main-head{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
}

h2{
    font-size: 2.5rem;
    line-height: 1.5;
}



p{
    color: #7c7a7a;
}

/* nav-bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 2.1rem;
    font-weight: bold;    

}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/* buttons download */

.download-button{
    margin: 5% 3% 5% 0;
}


/* title image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 28%;
}


/* feature section */

#features{
    padding: 7% 15%;
    position: relative;
    background-color: white;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.feature-icon{
    color: #ef8172;
    margin-bottom: 1.3rem;
}

.feature-icon:hover{
    color: #ff4c68;
}


/* Testimonial Section  */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 5% 7%;
}

.pricing-column{
    padding: 3% 2%;
}


#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    /* font-family: 'Montserrat', sans-serif; */
    color: white;
}

.cta-head{
    font-size: 2.5rem;
    line-height: 1.5;
}


/* footer */

#footer{
    padding: 7% 15%;
    text-align: center;
}


.social-icon{
    margin: 20px 10px;
}


@media (max-width: 991px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    
    #title{
        text-align: center;
    }
}